numpy
scipy
scikit-learn
tqdm
Pillow
transformers>=4.35
safetensors
pandas
matplotlib
seaborn
librosa
pydub
opencv-python
torchattacks
autoattack
ffmpeg-python
einops
facenet-pytorch
torchaudio
torchvision
soundfile
pytorch-lightning==1.7.7
hydra-core
omegaconf
pytorchvideo
pytorch-msssim
pesq
timm
efficientnet-pytorch
